// PATHS
$path-font:             '../fonts';
$path-img:              '../images';

// FONT FAMILIES
$font:                'Quicksand', Helvetica, sans-serif;


// COLORS Logo
$color-logo-1:               #f00;
$color-logo-2:               #333;

// Other Colors
$color-1:               #fff;
$color-2:               #000;
$color-3:               #ffe715;

// Named variables
$color-placeholder:     $color-2;
$color-success:         $color-2;
$color-error:           $color-2;

$yellow:               $color-3;
