@charset 'utf-8';

@import '_variables';
@import '_mixins';
@import '_objects';
@import '_fonts';
@import '_reset';

// @import 'vendor/_normalize';
// @import 'vendor/_slick';


// @import '../../.tmp/jpg-sprite.css';
// @import '../../.tmp/png-sprite.css';

// @media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
//     @import '../../.tmp/jpg-sprite@2x.css';
//     @import '../../.tmp/png-sprite@2x.css';
// }


a[href="#goToContent"] {
    @extend .only-listen;
}

[class^=svg-] {
    display: inline-block;
    vertical-align: middle;
    fill: $color-2;

    svg, use {
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle;
    }
}

[data-ani-type]:not([data-ani-type="sm-parallax"]) {
   visibility: hidden;

   &[data-animated="true"] {
       visibility: visible;
   }

   @media (max-width: 1023px) {
       visibility: visible;
   }
}

select::-ms-expand {
    display: none;
}

// Type your css for pages here


body {
    background: $color-1;
    font-family: arial;
    font-size: 20px;
}

.container {
    padding: 0 20px;
    margin: 0 auto;
    width: 1280px;

    @include max(lg) {
        width: 100%;
    }

    @include max(md) {
        max-width: 768px;
    }

    @include max(sm) {
        max-width: 576px;
    }

    @include max(xs) {
        max-width: 414px;
    }
}

// media queries

@media screen {
    @media (max-width: 767px) {

    }
}
